{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go to page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black h-screen flex flex-col items-center justify-center">


    <div class="w-full max-w-xs px-6">
        <div class="mb-10 flex flex-col items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png" alt="Spotify Logo" class="w-20 h-20">
            <h1 class="text-4xl text-white font-bold mt-2">Spotify</h1>
        </div>
            <a href="{% url 'login'%}">
                <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded w-full mb-4">Main Page</button>
            </a>   
               
    </div>
</body>
</html>