<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
</head>
<body>
    {% for song in songs %}
        <h2>{{song.title}}</h2>
        <a href="?play={{ song.id }}">
            <button>play</button>
        </a>
        <img src="{{ song.cover_image.url }}" alt="">
    
    {% endfor %}

    {% if play_song %}
        <iframe class="hidde-player" src="{{ play_song.youtube_url_modify }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}


</body>
</html>